@font-face {
    font-family: Gilroy-Regular;
    src: url(../assets/font/Gilroy/Gilroy-Regular.ttf);
}

@font-face {
    font-family: Gilroy-Medium;
    src: url(../assets/font/Gilroy/Gilroy-Medium.ttf);
}

@font-face {
    font-family: Gilroy-Bold;
    src: url(../assets/font/Gilroy/Gilroy-Bold.ttf);
}

@font-face {
    font-family: Poppins-Medium;
    src: url(../assets/font/Poppins/Poppins-Medium.ttf);
}