ion-header {
    ion-toolbar {
        color: white;
        --background: #6236ff;
        .notification {
            span {
                background-color: #ff396f;
                border-radius: 50%;
                width: 14px;
                height: 14px;
                position: absolute;
                top: 1%;
                right: -20%;
                p {
                    font-size: 8px;
                    margin-top: 3px;
                    margin-left: 1px;
                    color: white;
                }
            }
        }
    }
    ion-avatar {
        margin-top: -30px;
    }
}

ion-content {
    --color: white;
    --background: #ededf5;
    .container {
        background: linear-gradient(360deg, #8867ff, #6236ff);
        display: flex;
        flex-direction: column;
        align-items: center;
        span {
            margin-top: 20px;
            color: #bfa9ff;
        }
        ion-label {
            margin-top: 20px;
            font-size: 30px;
        }
        ion-text {
            margin-top: 20px;
            display: flex;
            align-items: center;
            margin-bottom: 30px;
            ion-icon {
                color: #37b8a2;
                font-size: 24px;
            }
        }
        .botoes {
            display: flex;
            flex-direction: row;
            margin-bottom: 40px;
            ion-avatar {
                background: #3e259b;
                margin: 12px;
                height: 50px;
                width: 50px;
                ion-icon {
                    margin: 14px;
                    font-size: 22px;
                }
                ion-label {
                    margin-left: 1px;
                    color: #bfa9ff;
                }
            }
        }
    }
    .titulo {
        color: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px;
        ion-label {
            color: #ab9fe9;
            font-size: 12px;
        }
    }
    .card {
        ion-card {
            --font-family: 'Poppins-Medium';
            box-shadow: none !important;
            border-radius: 10px;
            ion-grid {
                ion-row {
                    display: flex;
                    justify-content: space-between;
                    justify-items: center;
                    align-items: center;
                    ion-icon {
                        font-size: 20px;
                        color: #4aaf7d;
                    }
                    ion-label {
                        b {
                            color: #130923;
                        }
                        p {
                            color: #929a9d;
                            ion-badge {
                                border-radius: 30px;
                                ion-icon {
                                    font-size: 12px;
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .watchlist {
        ion-slides {
            ion-slide {
                ion-card {
                    margin: 3px;
                    width: 30%;
                    box-shadow: none !important;
                    border-radius: 10px;
                    padding: 10px;
                    .header {
                            margin-left: 4%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            ion-icon {
                                font-size: 20px;
                            }
                        }
                    }
                    ion-label {
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        margin-top: 20px;
                        text-align: right;
                        margin-left: 4%;
                        margin-right: 2%;
                        font-size: 14px;
                        color: #130923;
                        ion-badge {
                            display: flex;
                            justify-content: start;
                            align-items: center;
                            border-radius: 10px;
                            width: 55px;
                            span {
                                font-size: 10px;
                                font-weight: 500;
                            }
                        }
                    }
            }
        }
    }
}