<ion-header class="ion-no-border">
  <ion-toolbar class="header">
    <ion-buttons slot="start">
      <ion-button class="notification">
        <ion-avatar style="height: 30px; width: 30px; margin-top: 2px;">
          <img src="../../../assets/avatar1.jpeg"/>
          <span><p>10</p></span>
        </ion-avatar>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center" style="margin-left: -10px;">Crypto Wallet</ion-title>
    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="light"></ion-icon>
        <span>
          <p>8</p>
        </span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container">

    <span>Current Balance</span>
    <ion-label>R$ 25.6250,00</ion-label>
    <ion-text>
      <ion-icon name="trending-up-outline" color="light" style="margin-right: 6px;"></ion-icon>
      0.053205 BTC
    </ion-text>

    <div class="botoes">

      <ion-avatar color="primary" (click)="redirecionarTelaReceita()">
        <ion-icon name="arrow-up-outline"></ion-icon>
      </ion-avatar>

      <ion-avatar color="primary">
        <ion-icon name="arrow-down-outline"></ion-icon>
      </ion-avatar>

      <ion-avatar color="primary">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-avatar>

      <ion-avatar color="primary">
        <ion-icon name="swap-vertical-outline"></ion-icon>
      </ion-avatar>

      <div class="ion-text-center" style="position: absolute; margin-top: 90px;">
        <ion-label style="font-size: 10px; padding: 24px; color: #bfa9ff;">Receita</ion-label>
        <ion-label style="font-size: 10px; padding: 24px; color: #bfa9ff;">Withdraw</ion-label>
        <ion-label style="font-size: 10px; padding: 24px; color: #bfa9ff;">Send</ion-label>
        <ion-label style="font-size: 10px; padding: 24px; color: #bfa9ff;">Exchange</ion-label>
      </div>

    </div>

  </div>

  <div class="titulo">
    <h3>My Portifolio</h3>
    <ion-label>View All</ion-label>
  </div>

  <div class="card">
    <ion-card>
      <ion-grid>
        <ion-row *ngFor="let item of cotacaoList">
          <ion-col size="1">
            <ion-icon [name]="item.isAlta ? 'trending-up-outline': 'trending-down-outline'" [color]="item.isAlta ? 'success' : 'danger'"></ion-icon>
          </ion-col>
          <ion-col size="6">
            <ion-label>
              <b>{{item.nome}}</b>
              <p style="font-size: 10px;">{{item.cotacao}}</p>
            </ion-label>
          </ion-col>
          <ion-col size="4" class="ion-text-right">
            <ion-label>
              <b>{{item.valor}}</b>
              <p>
                <ion-badge [color]="item.isAlta ? 'success' : 'danger'">
                  <ion-icon [name]="item.isAlta ? 'arrow-up-outline': 'arrow-down-outline'"></ion-icon>
                  {{item.variacao}}
                </ion-badge>
              </p>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>

</ion-content>
